.rubik {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
  }


.button {
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
}

.button1 {
    background-color: lightblue;
    color: darkblue;
    border-width: 2px;
    border-color: darkblue;
}

.button1:hover {
    background-color: darkblue;
    border-color: lightblue;
    border-width: 2px;
    color: lightblue;
    margin: 6px 4px;
}

.main-body {
    display: grid;
    grid-template-areas: 
        "menu"
        "header"
        "create"
        "form"
        "bulletin";
    margin: 0;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f49e9371-d784-4bbd-a6db-286fb2601e1e/dg3a6up-02ee7489-0476-4c15-8bb8-98ea945f59ce.png/v1/fit/w_828,h_464,q_70,strp/_free_to_use__jungle_flowers___desktop_background_by_redpandapawss_dg3a6up-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODE2IiwicGF0aCI6IlwvZlwvZjQ5ZTkzNzEtZDc4NC00YmJkLWE2ZGItMjg2ZmIyNjAxZTFlXC9kZzNhNnVwLTAyZWU3NDg5LTA0NzYtNGMxNS04YmI4LTk4ZWE5NDVmNTljZS5wbmciLCJ3aWR0aCI6Ijw9MTQ1NiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.SOMVDngqW5BX7c8s9H9LKuwJHLDOPOvETBZszkIMtuk");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    grid-area: header;
    font-family: Rubik;
    color: white;
    padding-inline-start: 30px;
}

.form{
    grid-area: form;
    margin: 6px;
    color: white;
    padding-inline-start:30px;
}

.menu {
    grid-area: menu;
    float: left;
    text-align: center;
    font-size: 18px;
    background-color: darkblue;

}

.create p{
    font-family: rubik;
    color: white;
}

.menu a{
    float: left;
    font: arial;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.menu a:hover {
    background-color: cornflowerblue;
    font-size: 18px;
}

.create{
    grid-area: create;
    display: inline;
    padding-inline-start: 30px;
}

#bulletin {
    margin-left: 30px;
    margin-right: 30px;
    grid-area: bulletin;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    padding: 20px;
    min-height: 500px;
    overflow: hidden;
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
}

.inline {
    display: inline-block;
}

.note {
    color: white;
    border-radius: 5px;
    background-color: cornflowerblue; 
    border-color: white;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 10px; 
    display: inline-block;
    font-family: Rubik;
    height: fit-content;
}

.submitButton {
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: darkblue;
    font-family: Rubik;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.submitButton:hover {
    background-color: darkblue;
    color: lightblue;
}

.title {
    color: white;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
    padding-bottom: 0;
    padding-top: 5px;
    margin: 0;
}

.text {
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0;
}

.close{
    float: right;
    padding: 3px;
    border-radius:1px;
}

.close:hover {
    background-color: red;
    cursor: pointer;
}

.prompt {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    padding: 5px;
    background-color: darkblue;
    color: white;
    opacity: 0.7;
}

.prompt::placeholder{
    color: lightgray;
    opacity: 1;
}